{%extends 'layout.html'%}

{%block body%}

<h1>welcome to amazon</h1>


<form action="/login" method="POST">

	Username:<br>
	<input type="text" name="username" placeholder="enter username">
	<br>
	Password:<br>
	<input type="password" name="password" placeholder="enter password">
	<br><br>
	<input type="submit" value="submit">



</form>













<!-- {% if h1 %}
<h1>{{h1}}</h1>
{% else %}
<h1>amazon mini project</h1>
{% endif %}
	<p> This is an e-commerce website by me yayy </p>
 -->





{%endblock body%}