{% extends 'layout.html' %}

{% block body %}

{% for product_info,quantity in cart %}

<ul>
		<li><b> product Name </b> : {{ product_info['name'] }} </li>
		<li><b> product Description </b> : {{ product_info['description'] }} </li>
		<li><b> product Price </b> : {{ product_info['price'] }} </li>
		<li><b> product seller </b> : {{ product_info['seller'] }} </li>
		<li><b> quantity </b> : {{ quantity }} </li>

		<form action="/remove_cart" method="POST">
			
			<input type="hidden" name="pid" value="{{ product_info['_id'] }}">
			<input type="submit" value="remove one unit from cart">
		</form>
</ul>
{% endfor %}
	<b><p>The total cost of all the products is Rs:</p>{{ total }} </b>

<form action="/buy" method="POST">
	<input type="submit" name="buy" value="Buy">
</form>

{% endblock body %}
