<!DOCTYPE html>
<html>
<head>
	<title>Practice</title>
	<img src="" alt="This is how life is">
</head>
<body>
	<h1>Importance of practicing</h1>
	<h2><ul><li>revision</li>
			<li>speed</li>
			<li>accuracy</li>
			<li>timeliness</li>
		</ul>
	</h2>
	<p>tumse milke didlkhs yeh jo haal kya kare hogaya dil ka yeh kamaal kya kare, dhum tana dhum tanaa dhum tana dhum ttannaa dhuum tha</p>

<form>
	username:<br>
	<input type="text" name="username" placeholder="enter name ma">
	<br>
	password:<br>
	<input type="password" name="password" placeholder="enter the password">
	<br>
	<input type="submit" value="submit">




</form>

</body>
</html>


