<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1> Welcome to My Amazon! </h1>

{% if session %}
<p>hello {{session['username']}}</p>
<p>You have logged in as {{session['c_type']}}</p>

<p> <a href="/logout">LOGOUT</a></p>
{% else %}


<form action="/login" method="POST">

	Username:<br>
	<input type="text" name="username" placeholder="enter username">
	<br>
	Password:<br>
	<input type="password" name="password" placeholder="enter password">
	<br><br>
	<input type="submit" value="submit">

</form>

<h3> No Account? Sign up Below! </h3>

<form action="/signup" method="POST">

	Username:<br>
	<input type="text" name="username" placeholder="enter username">
	<br>
	Email:<br>
	<input type="text" name="email" placeholder="enter email">
	<br>
	Password:<br>
	<input type="password" name="password" placeholder="enter password">
	<br><br>
	Re-enter password:<br>
	<input type="password" name="rpassword" placeholder="re-enter password">
	<br><br>
	Customer Type: <br>
	<input type="radio" name="c_type" value="buyer" checked> buyer<br>
	<input type="radio" name="c_type" value="seller">seller<br>
	<input type="submit" value="submit"><br>


</form>
{% endif %}

{% if session['c_type']== 'seller' %}

<form action="/add_products" method="POST">
	Product Info: <br>
	Product Name: <br>
	<input type="text" name="pname" placeholder="Enter the Product name">
	
	<br>
	Price: <br>
	<input type="text" name="price" placeholder="Enter the price">
	<br>
	Description: <br>
	<textarea rows="5" columns="50" name="description" placeholder="Enter description here.."></textarea>
	<br>
	<input type="submit" value="submit"><br>

</form>
<p>to check all the products you have added <a href='/products_page'>click here</a></p>

	{% else %}

<p><a href='/products_page'>click here to buy products </a></p>
{% endif %}

</body>
</html>