{% extends 'layout.html' %}

{% block body %}

{% for product in products %}
	<ul>
		<li><b>product name </b> : {{product['pname']}}</li>
		<li><b>seller name </b> : {{product['sname']}}</li>
		<li><b>price</b> : {{product['price']}} </li>
		<li><b> product description </b> : {{product['description']}} </li>

		<form action="/add_cart" method='POST'>
			<input type="hidden" name="pid" value= "{{product['_id']}}">
			<input type="submit" value="add_to_cart">
		</form>


	</ul>
{% endfor %}

{% endblock %}